{% extends 'base.html' %}

{% block content %}
<section id="addform">
  
  <!-- Flexbox container -->
  <div class="container" style="display: flex; flex-wrap: wrap; padding: 10px;justify-content: center;background-color: white; border-radius: 15px;
  overflow; ">
    
    <!-- Left Box (form section) -->
    <div class="col-6" id="hero-content_addform" style="padding: 10px; max-width: 600px; display: flex; flex-direction: column;">
      <h3 class="hero-title_addform">{{ form.instance.pk|yesno:"Edit Route,New route" }}</h3>
      <h1 class="hero-subtitle_addform" style="text-align: center;">Add your preferred route.</h1>

      <form method="post">
          {% csrf_token %}
          <div class="row" style="display: flex; justify-content: center;">
              {% for field in form %}
                  <div class="col-12 mb-3" style="width: 100%; max-width: 400px; padding: 0px; justify-content: center">
                      <label for="{{ field.id_for_label }}" class="form-label" style="display: block; text-align: left; margin-bottom: 0.5rem;">
                          {{ field.label }}
                      </label>
                      <div class="input-group" style="width: 100%;">
                          {{ field }}
                      </div>
                  </div>
              {% endfor %}
          </div>

          <div class="row" style="display: flex; justify-content: center;">
              <div class="col-6 text-center">
                <button type="submit" class="add_new_route_btn" style="background-color: #1B4159; border: #1B4159; color: white; border-radius: 30px; margin-top: 30px; padding: 15px 40px;" id="submit-btn">
                  Save route
                </button>
              </div>
          </div>
      </form>
    </div>

    {% load static %}
    <!-- Right Box (This box will move below on smaller screens) -->
    <div class="col-12 col-md-5" style="background-color: #fff; padding: 20px; display: flex; flex-direction: column; width: 100%; max-width: 600px;">
      <!-- Right box content -->
      <div>
        <h41>Route preview:</h4>
      </div>
      <img src="{% static 'images/search.png' %}" alt="NRoutelogo" style="max-width: 300px;padding-left: 20px;">
      <div>
        <a class="navbar-brand" href="">
          <img src="{% static 'images/map.png' %}" alt="NRoutelogo" style="max-width: 510px;padding-top: 10px;">
        </a>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $('.navbar-toggler').click(function(){
            $('#addform').toggleClass('menu-open');
        });
    });
</script>

<style>
  /* Hover effect for submit button */
  .submit:hover {
    background-color: #333; /* Dark gray color on hover */
    border: #333; /* Optional: change border color as well */
  }

  /* Optional: you can add some margin or padding for smaller screens if you want */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
    .col-md-6 {
      margin-top: 20px;
    }

    .add_new_route_btn {
      padding: 15px 20px;
    }
  }


  /* Change label color to #1B4159 */
  label.form-label {
    color: #1B4159;
  }

</style>

{% endblock %}
